name: Lint
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    container:
      image: ghcr.io/astral-sh/ruff:alpine
    steps:
    - uses: actions/checkout@v4

    - name: Run ruff check
      run: ruff check .

    - name: Run ruff format check
      run: ruff format . --check
